{{#if path}}
  <li class="fileListItem">
    <a href="{{path}}">
      <img src="/images/{{type}}.png" alt="{{type}}">
      <div class="file-meta">
        <h3>{{name}}</h3>
        <span class="fileSize">{{size}}</span>
      </div>
    </a>
  </li>
{{/if}}
